<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Identity.Client" version="4.31.0" targetFramework="net45"/>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net45" />
  <package id="Visual-StyleCop.MSBuild" version="4.7.58.3" targetFramework="net450" developmentDependency="true" />
</packages>